Package: net.chote.paul.rlc
Name: Remote.app Lockscreen Controls
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Integrate Apple's Remote.app with the media controls on the lockscreen and multitasking tray.
Maintainer: Paul Chote
Author: Paul Chote
Section: Tweaks
